
<%= video_tag("https://res.cloudinary.com/dm37aktki/video/upload/v1651264806/production_ID_4106135_fmq0td.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video")  %>
<br>
<br>
<br>
<br>
<br>
<div class="font-weight-bold line-height-xl p-4">
  <h1 class="ml16 text-dark">Attention Teachers</h1><br>
  <h3 class="text-dark">Take journals online today</h3><br>
  <h3 class="text-dark">For easy prep, differentiation, and marking!</h3>
  <button class="main-btn" id="free-trial">
    <div class="main-img">
      <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1645639917/Depositphotos_57293061_S_mnbcls.jpg") %>
    </div>
  </button>
</div>
<br><br><br><br><br><br>
