<div class="wrapper">
  <div class="push"></div>
  <h1 class="ml8">
    <span class="letters-container">
      <span class="letters letters-left">Hi, <%= current_user.username  %>!</span>
      <span class="letters bang">!</span>
    </span>
    <span class="circle circle-white"></span>
    <span class="circle circle-dark"></span>
    <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
  </h1>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>
