<div class="wrapper">
  <div class="push"></div>
  <%# greeting %>
  <h1 class="ml7 text-center">
    <span class="text-wrapper">
      <span class="letters">Hi, <%= current_user.username  %>!</span>
    </span>
  </h1>
  <%# teacher content: main heading %>
  <h1 class="text-center">What would you like to do today?</h1>
  <%# teacher content: main buttons %>
  <div class="main-btn-group text-center teacher-btn">
    <div class="main-btn">
      <div class="cover-img">
        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1653932681/Depositphotos_404606460_S_cmj2t6.jpg")  %>
      </div>
      <h3>See My Subjects</h3>
    </div>

     <div class="main-btn">
      <div class="cover-img">
        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1653932681/Depositphotos_404606460_S_cmj2t6.jpg")  %>
      </div>
      <h3>Edit My Subjects</h3>
    </div>
  </div>

  <%# If teacher clicks on See My Subjects %>
  <%# If teacher clicks on Edit My Subjects %>
</div>
