@import "bootstrap/scss/bootstrap";

// Graphical variables


// External libraries
@import "bootstrap/scss/bootstrap";

// Your CSS partials
@import "components/navbar";

// colors
$dyslexia_background: #FFFBF7;
$orange: #F59435;
$light_green: #CDE17B;
$turquoise: #7AC4BD;
$purple: #A81375;
$pink: #F0688C;
